@import './base/variables';
@import './base/colors-container';
@import './base/menu';
@import './base/library';
@import './base/save';


*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: $font-family-ubuntu;
}
