@import './variables';

.menu{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    @include tablet{
        margin-top: 50px;;
    }
    .menu-box{
        flex-basis: 33.33%;
        position: relative;
        flex-direction: column;
        p{
            font-size: 1.2rem;
        }
        ion-icon{
            font-size: 2rem;
            color: white;
            background-color: $blue-darker;
            padding: 17px 20px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.4s ease;
            &:hover{
                background-color: $blue;
            }
        }
    }
}